#bing{
    background-color: rgb(255, 170, 91);
    width: 65%;
    height: 30px;
}

body
{
    background: linear-gradient(red, rgb(255, 102, 0), rgb(255, 196, 0), yellow, rgb(187, 255, 0),);
}

#start
{
    background-color: coral;
    width: 6%;
    font-size: 20px;
    border-radius: 8px;
}

img
{
    width: 40%;
    height: 35%;
}